h1 {
	font-size:10vw;
	text-align: center;
    margin-left: 1px;
    color: white;
}

h3 {
	font-size:5vw;
	text-align: center;
    margin-left: 1px;
    color: white;
}



* {
    box-sizing: border-box;
}

#countdown {
    font-size:2.5vw;
    font-weight: bold;
    margin: auto;
    width: 50%;
    text-align: center;
    color: white;
}
    
body {
    padding: 0;
    margin: 0;
    background-color: black;
}


.row {
    display: flex;
}

.row:after {
content: "";
display: table;
clear: both;
}

a { color:blue } /* Globally */

/* Each state */

a:visited { text-decoration: none; color:blue; }
a:hover { text-decoration: none; color:blue; }
a:focus { text-decoration: none; color:blue; }
a:hover, a:active { text-decoration: none; color:black }

/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 0px;
    width: 33.33%;
}


@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.customh2 {
    font-size:2.7vw;
    font-weight:bold;
    color: white;
}

#leftcol p {
    text-align: right;
    vertical-align: top;
    color: white;
}

#midcol p, h2 {
    text-align: center;
}
    
#rightcol p, h2 {
    text-align: left;
}
    
#txt, #weekn, #demo {
    display: block;
    vertical-align: top;
    padding: 0;
    margin-bottom: 0;
    margin-top: -30px;
}

.countup {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}
.countup .timeel {
  background: black;
  margin: 0;
  color: white;
  min-width: 2 rem;
  margin-left: px;
}
.countup span[class*="timeRef"] {
  margin-left: 0;
  background: black;
  color: white;
}